{% extends 'base.html' %}

{% block content %}
<div class="message-box">
    <h2>Chat Room: {{code}}</h2>
    <div class="messages" id="messages"> </div>
    <div class="inputs">
        <input type="text" 
        row ="3"
        name="message" 
        id="message"
        />
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>

<script type="text/javascript">

    let socketio = io();

    const messages = document.getElementById("messages");

    
    const createMessage = (name, msg) => {
        const content = `

                <div class="text">
                    <span>
                        <strong>${name}</strong>:${msg}
                        </span>
                        <small class="muted">
                        ${new Date().toLocaleString()}
                        </small>
                     </div>
         `;

         messages.innerHTML += content;
    };

    socketio.on("message", (data) =>{
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        let message = document.getElementById("message")
        // let name = document.getElementById("name").textContent;

        msg = message.value

        if(msg == "") return;
        socketio.emit("message", {data: msg});
        message.value = "";
    };
</script>

{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor  %}
{% endblock %} 